/* AddDriveDetails.module.css */

.body{
  background: linear-gradient(to right, #7EE8FA, #EEC0C6);
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .heading {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .label {
    font-size: 16px;
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0069d9;
  }
  