/* .header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
} */

.list {
  background: #d0c3c3;
   
     
  width: 600px;
  margin-top:125px;
  margin-left :500px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: vertical;
          flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
  text-decoration: underline;
}